AddType application/x-httpd-php .php .html
#Options -Indexes

RewriteEngine on
RewriteRule css/(.*)$ www/css/$1 [L]
RewriteRule ^(.*)\.(.*)$ www/index.php?url=$1 [QSA,L]
RewriteRule ^(.*)$ www/index.php?url=$1 [QSA,L]
